<div class="container">
  <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col">
      <!-- <i class="fa-solid fa-smile"></i> -->
      <i class="fa-regular fa-face-smile-beam"></i>
      <p class="count-element" data-count="5150">0</p>
      <span>happy clients</span>
    </div>

    <!-- col -->
    <div class="col">
      <i class="fa-solid fa-heart"></i>
      <p class="count-element" data-count="947">0</p>
      <span>love people</span>
    </div>

    <!-- col -->
    <div class="col">
      <i class="fa-solid fa-mug-hot"></i>
      <p class="count-element" data-count="489">0</p>
      <span>cup of coffee</span>
    </div>

    <!-- col -->
    <div class="col">
      <i class="fa-solid fa-book"></i>
      <p class="count-element" data-count="349">0</p>
      <span>chef recipes</span>
    </div>
  </div>
</div>
