<div class="description">
  <p>
    Look for apricots that are slightly underripe so they'll stand up to the
    heat, or you can substitute two medium peaches. We like the smooth texture
    and intense flavor of imported Parma prosciutto in this dish.Combine 1/2 cup
    warm water and yeast in the bowl of a stand mixer with dough hook attached;
    let stand 5 minutes or until bubbly.
  </p>

  <!-- how to make -->
  <div class="how-cooking">
    <!-- ingredients -->
    <div class="ingredients">
      <h3>ingredients</h3>
      <ul>
        <li><span>-</span> 1/2 cup warm water (100° to 110°)</li>
        <li><span>-</span> 1/2 teaspoon dry yeast</li>
        <li><span>-</span> 8 1/2 teaspoons olive oil, divided</li>
        <li><span>-</span> 1/2 teaspoon kosher salt, divided</li>
        <li><span>-</span> 6 ounces bread flour (about 1 1/4 cups)</li>
        <li><span>-</span> Cooking spray</li>
        <li><span>-</span> 2 tablespoons yellow cornmeal</li>
        <li><span>-</span> 1 teaspoon chopped fresh thyme</li>
        <li><span>-</span> 1/4 teaspoon freshly ground black pepper</li>
        <li>
          <span>-</span> 1 1/2 tablespoons finely chopped fresh flat-leaf
          parsley
        </li>
        <li><span>-</span> 3/4 cup (3 ounces) crumbled goat cheese</li>
        <li><span>-</span> 1 ounce thinly sliced prosciutto</li>
        <li><span>-</span> 1 ounce shaved fresh Parmigiano-Reggiano cheese</li>
      </ul>
    </div>

    <!-- how-to-make-it -->
    <div class="how-to-make-it">
      <h3>how to make it</h3>

      <!-- steps -->
      <div class="steps">
        <!-- step -->
        <div class="step">
          <span>step: 1</span>
          <p>
            Combine 1/2 cup warm water and yeast in the bowl of a stand mixer
            with dough hook attached; let stand 5 minutes or until bubbly. Add 4
            teaspoons oil and 1/4 teaspoon salt to yeast mixture.Place dough in
            a large bowl coated with cooking spray; cover surface of dough with
            plastic wrap lightly coated with cooking spray. Refrigerate 24
            hours.
          </p>
        </div>

        <!-- step -->
        <div class="step">
          <span>step: 2</span>
          <p>
            Remove dough from refrigerator. Let stand, covered, 1 hour or until
            dough comes to room temperature. Punch dough down. Roll dough out to
            a thin 12-inch circle on a lightly floured baking sheet, without
            raised edges, sprinkled with cornmeal. Crimp edges to form a
            1/2-inch border.Cover dough loosely with plastic wrap.
          </p>
        </div>

        <!-- step -->
        <div class="step">
          <span>step: 3</span>
          <p>
            Position an oven rack in the lowest setting. Place a pizza stone on
            lowest rack. Preheat oven to 550°. Preheat the pizza stone for 30
            minutes before baking dough.
          </p>
        </div>

        <!-- step -->
        <div class="step">
          <span>step: 4</span>
          <p>
            Combine 1 tablespoon oil, thyme, pepper, apricots, shallots, and
            remaining 1/4 teaspoon salt; toss gently. Remove plastic wrap from
            dough Bake at 550° for 4 minutes. Top dough with goat cheese and
            apricot mixture. Bake an additional 5 minutes or until crust is
            golden brown. Cut pizza into 10 slices Top with prosciutto and
            Parmigiano-Reggiano cheese. Cut into 10 wedges.
          </p>
        </div>

        <!-- step -->
        <div class="step">
          <span>step: 5</span>
          <p>
            When a dish has an ingredient that is also a signature flavor in a
            wine, go with the match. For this pizza, it's viognier, a
            full-bodied, aromatic white that often announces itself with apricot
            aromas. Try the Bridlewood 2008 Reserve Viognier from California's
            central coast ($24). Under its stone fruit flavors lurk layers of
            citrus-tangerine and tangy grapefruit-with an elegant honeysuckle
            wrap. Rich enough to love the prosciutto on the pizza, the wine has
            lovely acidity that works well with goat cheese, too. -Sara
            Schneider.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
