<div class="container">
  <!-- logo -->
  <a href="/index.html" class="logo">
    <div class="logo-img">
      <!-- the logo image will come from file js -->
      <img class="logoImg" src="/" alt="" />
    </div>
    <div class="logo-title">
      <span>feasta</span>
      <span>egyption restaurant</span>
    </div>
  </a>

  <!-- navbar -->
  <nav id="navbar" class="navbar">
    <div class="menu">
      <ul>
        <!-- links [ indexs ] -->
        <li data-url="indexs">
          <span>indexs <i class="fa-solid fa-chevron-down"></i></span>
          <div class="sub-menu">
            <ul>
              <li data-url="index1">
                <a href="/index.html">index1</a>
              </li>
              <li data-url="index2">
                <a href="/index2.html">index2</a>
              </li>
            </ul>
          </div>
        </li>

        <!-- link [ menu ] -->
        <li data-url="menu"><a href="/menu.html">menu</a></li>

        <!-- links [ pages ] -->
        <li data-url="pages">
          <span>pages <i class="fa-solid fa-chevron-down"></i></span>
          <div class="sub-menu">
            <ul>
              <!-- our cheffs page -->
              <li data-url="ourCheffs">
                <a href="/pages/ourChef.html">our cheffs</a>
              </li>

              <!-- chef single page -->
              <li data-url="chefSingle">
                <a href="/pages/chefSingle.html">chef single</a>
              </li>

              <!-- cart page -->
              <li data-url="cartShpping">
                <a href="/pages/cartShopping.html">cart</a>
              </li>

              <!-- about us page -->
              <li data-url="aboutUs">
                <a href="/pages/aboutUs.html">about us</a>
              </li>

              <!-- services page -->
              <li data-url="services">
                <a href="/pages/services.html">services</a>
              </li>

              <!-- services page -->
              <li data-url="bookTable">
                <a href="/pages/bookTable.html">book table</a>
              </li>
            </ul>
          </div>
        </li>

        <!-- link [ delivery ] -->
        <li data-url="deliveryPage">
          <a href="/deliveryPage.html">delivery</a>
        </li>

        <!-- link [ blog ] -->
        <li data-url="blog"><a href="/blog.html">blog</a></li>

        <!-- link [ contact ] -->
        <li data-url="contact"><a href="/contact.html">contact</a></li>
      </ul>
    </div>
  </nav>
</div>
