<!-- reviews -->
<div class="reviews">
  <p><span>03 reviews</span> italian sausage pan pizza</p>

  <!-- review -->
  <div class="review">
    <!-- reply -->
    <a href="" class="reply">reply</a>

    <!-- review image -->
    <div class="review-img">
      <img src="./assets/images/people/img2.jpg" alt="" />
    </div>

    <!-- review info -->
    <div class="review-info">
      <!-- row [ icons stars ] -->
      <div class="row stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>

      <!-- row -->
      <div class="row">mar 20, 2018, 12:30 pm</div>

      <!-- row -->
      <div class="row"><h2>david b.gunther</h2></div>

      <!-- row -->
      <div class="row comment">
        even the all powerful pointing has on control about the blind texts it
        is an almost unorthographic life one day however a small line of blind
        text by the name of lorem ipsum decided to leave for the far world of
        grammar.
      </div>
    </div>
  </div>

  <!-- review -->
  <div class="review">
    <!-- reply -->
    <a href="" class="reply">reply</a>

    <!-- review image -->
    <div class="review-img">
      <img src="./assets/images/people/img3.jpg" alt="" />
    </div>

    <!-- review info -->
    <div class="review-info">
      <!-- row [ icons stars ] -->
      <div class="row stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </div>

      <!-- row -->
      <div class="row">mar 20, 2018, 12:30 pm</div>

      <!-- row -->
      <div class="row"><h2>david b.gunther</h2></div>

      <!-- row -->
      <div class="row comment">
        even the all powerful pointing has on control about the blind texts it
        is an almost unorthographic life one day however a small line of blind
        text by the name of lorem ipsum decided to leave for the far world of
        grammar.
      </div>
    </div>
  </div>

  <!-- review -->
  <div class="review">
    <!-- reply -->
    <a href="" class="reply">reply</a>

    <!-- review image -->
    <div class="review-img">
      <img src="./assets/images/people/img4.jpg" alt="" />
    </div>

    <!-- review info -->
    <div class="review-info">
      <!-- row [ icons stars ] -->
      <div class="row stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </div>

      <!-- row -->
      <div class="row">mar 20, 2018, 12:30 pm</div>

      <!-- row -->
      <div class="row"><h2>david b.gunther</h2></div>

      <!-- row -->
      <div class="row comment">
        even the all powerful pointing has on control about the blind texts it
        is an almost unorthographic life one day however a small line of blind
        text by the name of lorem ipsum decided to leave for the far world of
        grammar.
      </div>
    </div>
  </div>

  <!-- review -->
  <div class="review">
    <!-- reply -->
    <a href="" class="reply">reply</a>

    <!-- review image -->
    <div class="review-img">
      <img src="./assets/images/people/img5.jpg" alt="" />
    </div>

    <!-- review info -->
    <div class="review-info">
      <!-- row [ icons stars ] -->
      <div class="row stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>

      <!-- row -->
      <div class="row">mar 20, 2018, 12:30 pm</div>

      <!-- row -->
      <div class="row"><h2>david b.gunther</h2></div>

      <!-- row -->
      <div class="row comment">
        even the all powerful pointing has on control about the blind texts it
        is an almost unorthographic life one day however a small line of blind
        text by the name of lorem ipsum decided to leave for the far world of
        grammar.
      </div>
    </div>
  </div>

  <!-- review -->
  <div class="review">
    <!-- reply -->
    <a href="" class="reply">reply</a>

    <!-- review image -->
    <div class="review-img">
      <img src="./assets/images/people/img6.jpg" alt="" />
    </div>

    <!-- review info -->
    <div class="review-info">
      <!-- row [ icons stars ] -->
      <div class="row stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </div>

      <!-- row -->
      <div class="row">mar 20, 2018, 12:30 pm</div>

      <!-- row -->
      <div class="row"><h2>david b.gunther</h2></div>

      <!-- row -->
      <div class="row comment">
        even the all powerful pointing has on control about the blind texts it
        is an almost unorthographic life one day however a small line of blind
        text by the name of lorem ipsum decided to leave for the far world of
        grammar.
      </div>
    </div>
  </div>
</div>

<!-- leave a comment -->

<div class="form">
  <h2>leave a comment..!</h2>

  <form action="">
    <div class="row">
      <!-- text -->
      <div class="group">
        <input type="text" placeholder="text*" />
      </div>

      <!-- email -->
      <div class="group">
        <input type="email" placeholder="email*" />
      </div>
    </div>

    <div class="row">
      <!-- text -->
      <div class="group">
        <input type="url" placeholder="website*" />
      </div>

      <!-- rate -->
      <div class="group rate">
        <p>rating*</p>
        <input class="rating" type="hidden" name="" />
        <div class="rate_star">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- textarea -->
      <div class="group comment">
        <textarea placeholder="comment*"></textarea>
      </div>
    </div>

    <button>add review</button>
  </form>
</div>
