<div class="container">
  <!-- slider -->
  <div class="slider">
    <!-- cards -->
    <div class="cards">
      <!-- card -->
      <div class="card">
        <!-- chef -->
        <div class="chef">
          <div class="chef-img">
            <img src="../assets/images/cheffs/cheff4.png" alt="" />
          </div>
          <div class="chef-info">
            <h2>aleta m.payne</h2>
            <p>
              a collection of textile samples lay spread out on the table -samsa
              was a travelling salesman.
            </p>
            <div class="social">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
          </div>
        </div>

        <!-- chef -->
        <div class="chef">
          <div class="chef-img">
            <img src="../assets/images/cheffs/cheff5.png" alt="" />
          </div>
          <div class="chef-info">
            <h2>aleta m.payne</h2>
            <p>
              a collection of textile samples lay spread out on the table -samsa
              was a travelling salesman.
            </p>
            <div class="social">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="card">
        <!-- chef -->
        <div class="chef">
          <div class="chef-img">
            <img src="../assets/images/cheffs/cheff9.png" alt="" />
          </div>
          <div class="chef-info">
            <h2>aleta m.payne</h2>
            <p>
              a collection of textile samples lay spread out on the table -samsa
              was a travelling salesman.
            </p>
            <div class="social">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
          </div>
        </div>

        <!-- chef -->
        <div class="chef">
          <div class="chef-img">
            <img src="../assets/images/cheffs/cheff1.png" alt="" />
          </div>
          <div class="chef-info">
            <h2>aleta m.payne</h2>
            <p>
              a collection of textile samples lay spread out on the table -samsa
              was a travelling salesman.
            </p>
            <div class="social">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="card">
        <!-- chef -->
        <div class="chef">
          <div class="chef-img">
            <img src="../assets/images/cheffs/cheff3.png" alt="" />
          </div>
          <div class="chef-info">
            <h2>aleta m.payne</h2>
            <p>
              a collection of textile samples lay spread out on the table -samsa
              was a travelling salesman.
            </p>
            <div class="social">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
          </div>
        </div>

        <!-- chef -->
        <div class="chef">
          <div class="chef-img">
            <img src="../assets/images/cheffs/cheff2.png" alt="" />
          </div>
          <div class="chef-info">
            <h2>aleta m.payne</h2>
            <p>
              a collection of textile samples lay spread out on the table -samsa
              was a travelling salesman.
            </p>
            <div class="social">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- slides controls -->
    <div class="slider-controls"></div>
  </div>
</div>
