<div class="container">
  <!-- slider -->
  <div class="slider">
    <!-- cards -->
    <div class="cards">
      <!-- card -->
      <div class="card">
        <!-- cheff info -->
        <div class="card-info">
          <p>our <span>master cheff</span></p>
          <p>
            we are on the gas safe register and are members of the institute of
            plumbing and headting engineering
          </p>
          <h3>aleta m.payne</h3>
          <!-- cheff social -->
          <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
          </div>
        </div>

        <!-- cheff image -->
        <div class="card-img">
          <img src="./assets/images/cheffs/cheff4.png" alt="" />
        </div>
      </div>

      <!-- card -->
      <div class="card">
        <!-- cheff info -->
        <div class="card-info">
          <p>our <span>master cheff</span></p>
          <p>
            we are on the gas safe register and are members of the institute of
            plumbing and headting engineering
          </p>
          <h3>aleta m.payne</h3>

          <!-- cheff social -->
          <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
          </div>
        </div>

        <!-- cheff image -->
        <div class="card-img">
          <img src="./assets/images/cheffs/cheff2.png" alt="" />
        </div>
      </div>

      <!-- card -->
      <div class="card">
        <!-- cheff info -->
        <div class="card-info">
          <p>our <span>master cheff</span></p>
          <p>
            we are on the gas safe register and are members of the institute of
            plumbing and headting engineering
          </p>
          <h3>aleta m.payne</h3>

          <!-- cheff social -->
          <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
          </div>
        </div>

        <!-- cheff image -->
        <div class="card-img">
          <img src="./assets/images/cheffs/cheff5.png" alt="" />
        </div>
      </div>
    </div>

    <!-- slides controls -->
    <div class="slider-controls"></div>
  </div>
</div>
