<div class="container">
  <!-- slider title -->
  <div class="slider-title">
    <span>professional </span> cook team <br />
    our expert <span>cheffs</span>
  </div>

  <!-- the slider -->
  <div class="slider">
    <div class="slide-number"></div>

    <!-- cards -->
    <div class="cards">
      <!-- card -->
      <div class="card" data-num="1">
        <!-- card image -->
        <div class="card-img">
          <img src="./assets/images/cheffs/cheff2.png" alt="" />
        </div>

        <!-- card info [ text ] -->
        <div class="card-info">
          <h2>valentino morose</h2>
          <p>junior cheff</p>
          <p>
            a collection of textile samples lay spread out the table - samsa was
            a travelling salesman
          </p>
          <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="card" data-num="2">
        <!-- card image -->
        <div class="card-img">
          <img src="./assets/images/cheffs/cheff4.png" alt="" />
        </div>

        <!-- card info [ text ] -->
        <div class="card-info">
          <h2>valentino morose</h2>
          <p>junior cheff</p>
          <p>
            a collection of textile samples lay spread out the table - samsa was
            a travelling salesman
          </p>
          <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="card" data-num="3">
        <!-- card image -->
        <div class="card-img">
          <img src="./assets/images/cheffs/cheff2.png" alt="" />
        </div>

        <!-- card info [ text ] -->
        <div class="card-info">
          <h2>valentino morose</h2>
          <p>junior cheff</p>
          <p>
            a collection of textile samples lay spread out the table - samsa was
            a travelling salesman
          </p>
          <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="card" data-num="4">
        <!-- card image -->
        <div class="card-img">
          <img src="./assets/images/cheffs/cheff4.png" alt="" />
        </div>

        <!-- card info [ text ] -->
        <div class="card-info">
          <h2>valentino morose</h2>
          <p>junior cheff</p>
          <p>
            a collection of textile samples lay spread out the table - samsa was
            a travelling salesman
          </p>
          <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="card" data-num="5">
        <!-- card image -->
        <div class="card-img">
          <img src="./assets/images/cheffs/cheff2.png" alt="" />
        </div>

        <!-- card info [ text ] -->
        <div class="card-info">
          <h2>valentino morose</h2>
          <p>junior cheff</p>
          <p>
            a collection of textile samples lay spread out the table - samsa was
            a travelling salesman
          </p>
          <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="card" data-num="6">
        <!-- card image -->
        <div class="card-img">
          <img src="./assets/images/cheffs/cheff4.png" alt="" />
        </div>

        <!-- card info [ text ] -->
        <div class="card-info">
          <h2>valentino morose</h2>
          <p>junior cheff</p>
          <p>
            a collection of textile samples lay spread out the table - samsa was
            a travelling salesman
          </p>
          <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- slider controls -->
    <div class="slider-controls">
      <!-- arrows -->
      <div class="arrows">
        <i id="next" class="fa-solid fa-chevron-right"></i>
        <i id="prev" class="fa-solid fa-chevron-left"></i>
      </div>

      <!-- bullets -->
      <div class="bullets">
        <!-- the bullets will pushed from the JavaScript -->
      </div>
    </div>
  </div>
</div>
