<div class="container">
  <!-- satisfaction -->
  <div class="satisfaction">
    <!-- satisfaction title -->
    <div class="title">
      <h2>some words of <span>satisfaction</span></h2>
      <p>to achieve this, it would be necessary to have uniform grammar.</p>
      <p>pronunciation and more common words.</p>
    </div>

    <!-- satisfaction slider -->
    <div class="slider">
      <!-- cards -->
      <div class="cards">
        <!-- card -->
        <div class="card" draggable="true">
          <!-- card image -->
          <div class="card-img">
            <img src="../assets/images/people/img2.jpg" alt="" />
          </div>

          <!-- card info -->
          <div class="card-info">
            <p>
              I am so happy, my dear friend, so absorbed in the exquisite sense
              of mere tranquil existence, that neglect my talents. To achieve
              this, it would be necessary to have uniform grammar words...
            </p>
            <h2>nancy w.wilson</h2>

            <!-- social -->
            <div class="social">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
          </div>
        </div>

        <!-- card -->
        <div class="card" draggable="true">
          <!-- card image -->
          <div class="card-img">
            <img src="../assets/images/people/img3.jpg" alt="" />
          </div>

          <!-- card info -->
          <div class="card-info">
            <p>
              I am so happy, my dear friend, so absorbed in the exquisite sense
              of mere tranquil existence, that neglect my talents. To achieve
              this, it would be necessary to have uniform grammar words...
            </p>
            <h2>nancy w.wilson</h2>

            <!-- social -->
            <div class="social">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
          </div>
        </div>

        <!-- card -->
        <div class="card" draggable="true">
          <!-- card image -->
          <div class="card-img">
            <img src="../assets/images/people/img4.jpg" alt="" />
          </div>

          <!-- card info -->
          <div class="card-info">
            <p>
              I am so happy, my dear friend, so absorbed in the exquisite sense
              of mere tranquil existence, that neglect my talents. To achieve
              this, it would be necessary to have uniform grammar words...
            </p>
            <h2>nancy w.wilson</h2>

            <!-- social -->
            <div class="social">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
          </div>
        </div>

        <!-- card -->
        <div class="card" draggable="true">
          <!-- card image -->
          <div class="card-img">
            <img src="../assets/images/people/img5.jpg" alt="" />
          </div>

          <!-- card info -->
          <div class="card-info">
            <p>
              I am so happy, my dear friend, so absorbed in the exquisite sense
              of mere tranquil existence, that neglect my talents. To achieve
              this, it would be necessary to have uniform grammar words...
            </p>
            <h2>nancy w.wilson</h2>

            <!-- social -->
            <div class="social">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
          </div>
        </div>

        <!-- card -->
        <div class="card" draggable="true">
          <!-- card image -->
          <div class="card-img">
            <img src="../assets/images/people/img6.jpg" alt="" />
          </div>

          <!-- card info -->
          <div class="card-info">
            <p>
              I am so happy, my dear friend, so absorbed in the exquisite sense
              of mere tranquil existence, that neglect my talents. To achieve
              this, it would be necessary to have uniform grammar words...
            </p>
            <h2>nancy w.wilson</h2>

            <!-- social -->
            <div class="social">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>